/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/*Arial regular*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/Arial-Regular.eot');
    src: url('../resorces/Arial/Arial-Regular.eot?#iefix') format('embedded-opentype'),
    url('../resorces/Arial/Arial-Regular.woff') format('woff'),
    url('../resorces/Arial/Arial-Regular.ttf') format('truetype'),
    url('../resorces/Arial/Arial-Regular.svg#Arial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Arial black*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/arial_black-webfont.woff2') format('woff2'),
         url('../resorces/Arial/arial_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Arial bold*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/arial_bold_italic-webfont.woff2') format('woff2'),
         url('../resorces/Arial/arial_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Arial bold italic*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/arial_bold-webfont.woff2') format('woff2'),
         url('../resorces/Arial/arial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$text-color: #636363;

@mixin transition {
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

header {
    .desctop-menu {
        display: none;
    }
}
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style:none;
  padding: 50px 0 37px 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  max-width: 339px;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  top: 0;
  left: -339px;
  overflow: hidden;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  li {
    display: block;
    width: 100%;
    height: 43px;
    margin: 25px 0 25px 24px;
    text-align: left;
    line-height: 43px;
    vertical-align: middle;

    a {
        width: 100%;
        height: 100%;
        color: #006598;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
        text-align: left;
        @include transition;

        // &:hover {
        //     color: #fff;
        //     background-color: #e60012;
        // }
    }

    &:first-child {
        margin-top: 0;
    }
  }
    .language-select {
        a, span {
            color: #006598;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    .full-version-batton {
        display: block;
        max-width: 247px;
        height: 54px;
        margin: 0 auto;
        text-align: center;
        line-height: 54px;
        color: #61a411;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        border: 1.49px solid #61a411;
        a {
            color: #61a411;
        }
    }
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #818285;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 85%;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
/*logo*/
.logo {
    max-width: 100%;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}
.header-info {
  display: none;
}

/*dropdown filter*/
    .call-us-block {
        float: right;
        margin: 5px 10px 0 0;
        line-height: 33px;
        vertical-align: middle;

        img {
          display: inline-block;
      line-height: 33px;
      vertical-align: middle;
        }
    }
    #info-mobile form input[type='submit'] {
        display: block;
        width: 51px;
        height: 41px;
        float: right;
        border: none;
        margin: 20px 20px 16px 20px;
        font-size: 16px;
        font-family: Arial, Helvetica, Sans Serif;
        color: #FFFFFF;
        background-color: #f70036;
        border-radius: 2px 3px 3px 2px;
    }
    .add-client {
      display: inline-block;
    width: 30px;
    height: 26px;
    margin: 4px 10px 0 0;
    background-color: #f70036;
    border-radius: 0;
    overflow: hidden;
    color: #fff;
    line-height: 26px;
    text-align: center;
    }
    #info-mobile {
        height:185px;
        background:#fff;
        width:auto;
        clear:none;
        float: right;
        position: absolute;
        top: 72px;
        right: 0;
        z-index: 2;
        @include transition;

        a {
            display: block;
            margin: 15px auto;
            text-align: center;
            .phone {
                color: #171c61;
                font-size: 30px;
                font-weight: 400;
                line-height: 35px;
                text-transform: uppercase;
            }
        }
    }
    label {
        color: #000; 
        float: right; 
        cursor: pointer;
        @include transition;
        .fa-phone {
            font-size: 23px;
            color: #171c61;
        }
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}
  /*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/

// main-page
.main-page {
    input {
        display: block;
    }
}


// footer
footer {
    padding: 34px 0 25px;
    background: url(../images/footer-bg.jpg) repeat-x;
    .footer-content {
        max-width: 218px;
        margin: 0 auto 14px;
        text-align: center;
        color: #0096dc;
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
    }
    span {
        display: block;
        text-transform: none;
        font-weight: 400;
    }
    .footer-phone {
        display: block;
        margin: 20px auto;
        text-align: center;
        color: $text-color;
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
    }
    .copyright {
        margin: 18px auto 0;
        text-align: center;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        a {
            color: $text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}