/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/*Arial regular*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/Arial-Regular.eot');
    src: url('../resorces/Arial/Arial-Regular.eot?#iefix') format('embedded-opentype'),
    url('../resorces/Arial/Arial-Regular.woff') format('woff'),
    url('../resorces/Arial/Arial-Regular.ttf') format('truetype'),
    url('../resorces/Arial/Arial-Regular.svg#Arial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Arial black*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/arial_black-webfont.woff2') format('woff2'),
         url('../resorces/Arial/arial_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Arial bold*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/arial_bold_italic-webfont.woff2') format('woff2'),
         url('../resorces/Arial/arial_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Arial bold italic*/
@font-face {
    font-family: 'Arial';
    src: url('../resorces/Arial/arial_bold-webfont.woff2') format('woff2'),
         url('../resorces/Arial/arial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
input {
    cursor: pointer;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="radio"]:focus {
    outline: none;
}

$text-color: #636363;

@mixin transition {
    -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    box-sizing: border-box;
}

header {
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 1, 0.75);
    .desctop-menu {
        display: none;
    }
}
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style:none;
  padding: 50px 0 37px 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  max-width: 339px;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  top: 0;
  left: -339px;
  overflow: hidden;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  li {
    display: block;
    width: 100%;
    height: 43px;
    margin: 25px 0 25px 24px;
    text-align: left;
    line-height: 43px;
    vertical-align: middle;

    a {
        width: 100%;
        height: 100%;
        color: #006598;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
        text-align: left;
        @include transition;

        // &:hover {
        //     color: #fff;
        //     background-color: #e60012;
        // }
    }

    &:first-child {
        margin-top: 0;
    }
  }
    .language-select {
        a, span {
            color: #006598;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    .full-version-batton {
        display: block;
        max-width: 247px;
        height: 54px;
        margin: 0 auto;
        text-align: center;
        line-height: 54px;
        color: #61a411;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        border: 1.49px solid #61a411;
        a {
            color: #61a411;
        }
    }
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #818285;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 85%;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
/*logo*/
.logo {
    max-width: 100%;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}
.header-info {
  display: none;
}

/*dropdown filter*/
    .call-us-block {
        float: right;
        margin: 5px 10px 0 0;
        line-height: 33px;
        vertical-align: middle;

        img {
          display: inline-block;
      line-height: 33px;
      vertical-align: middle;
        }
    }
    #info-mobile form input[type='submit'] {
        display: block;
        width: 51px;
        height: 41px;
        float: right;
        border: none;
        margin: 20px 20px 16px 20px;
        font-size: 16px;
        font-family: Arial, Helvetica, Sans Serif;
        color: #FFFFFF;
        background-color: #f70036;
        border-radius: 2px 3px 3px 2px;
    }
    .add-client {
      display: inline-block;
    width: 30px;
    height: 26px;
    margin: 4px 10px 0 0;
    background-color: #f70036;
    border-radius: 0;
    overflow: hidden;
    color: #fff;
    line-height: 26px;
    text-align: center;
    }
    #info-mobile {
        height:auto;
        background:#f1f1f1;
        width:auto;
        clear:none;
        padding: 10px 15px;
        float: right;
        position: absolute;
        top: 72px;
        right: 0;
        z-index: 2;
        @include transition;

        a {
            display: block;
            margin: 15px auto;
            text-align: center;
            text-decoration: none;
            .phone {
                // color: #171c61;
                color: #00679b;
                font-size: 20px;
                font-weight: 400;
                line-height: 25px;
                text-transform: uppercase;
            }
        }
    }
    label {
        color: #000; 
        float: right; 
        cursor: pointer;
        @include transition;
        .fa-phone {
            font-size: 23px;
            color: #171c61;
        }
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}
  /*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
// page-navigation
.page-navigation {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto 30px;
    padding: 13px 0;
    background-color: #009de6;
    -webkit-box-shadow: inset 35px 194px 19px -191px rgba(0,0,0,0.44);
    -moz-box-shadow: inset 35px 194px 19px -191px rgba(0,0,0,0.44);
    box-shadow: inset 35px 194px 19px -191px rgba(0,0,0,0.44);
    .nav-block {
        width: 100%;
        margin: 0 auto;
        a {
            display: block;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
        }
        img {
            float: left 
        }
        h4 {
            display: inline-block;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
        }
    }
}
// main-page
.main-page,
.finder-tickets {
    margin-top: 20px;

    .ticket-form {
        padding: 30px 10px;
        background-color: #005286;
        border-radius: 10px;

        .form-rise-title {
            margin: 0 auto;
            text-align: center;
            color: #fff;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
        }
        .radio-element-left,
        .radio-element-right {
            position: relative;
            width: 127px;
            height: 31px;
            margin: 10px 0;
            border-radius: 20px;
            background-color: #009ae2;
            border: 3px solid #47c2fc;

            #one-side,
            #many-side {
                position: absolute;
                width: 15px;
                height: 15px;
                top: 45%;
                left: 0;
                outline: none;
                transform: translateY(-50%);
                background-image: linear-gradient(to top, #e9e9e9 0%, #fefefe 100%);
            }
            label {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                line-height: 10px;
            }
        }
        .radio-element-left {
            float: left;
        }
        .radio-element-right {
            float: right;
        }
        .text-field {
            width: 100%;
            height: 55px;
            margin: 10px auto;
            border: none;
            border-radius: 10px;
            line-height: 55px;
            padding-left: 17px;
            text-align: left;
            color: grey;
            box-sizing: border-box;
            font-size: 25px;
            font-weight: 700;
            background-image: linear-gradient(to top, #d7d7d7 0%, #f3f3f3 100%);
            line-height: 55px;
            text-transform: uppercase;
        }
        .date {
            margin-bottom: 20px;
            width: 100%;
            height: 58px;
            #datepicker1,
            #datepicker2 {
                float: left;
                width: 60%;
                height: 56px;
                padding-left: 15px;
                color: grey;
                font-size: 25px;
                font-weight: 700;
                line-height: 13px;
                text-transform: uppercase;
                border: none;
                background-image: linear-gradient(to top, #d7d7d7 0%, #f3f3f3 100%);
                border-radius: 10px;

            }
            img {
                float: right;
            }
        }
        .ather-date {
            clear: both;
            margin: 15px auto;
            text-align: center;
            .simbol {
                display: inline-block;
                color: #fff;
                font-size: 25px;
                line-height: 18px;
                font-weight: 700;
            }
            .simbol-sign {
                display: inline-block;
                color: #fff;
                font-size: 25px;
                line-height: 18px;
                font-weight: 400;
            }

            input {
                display: inline-block;
                width: 40px;
                height: 38px;
                color: grey;
                color: grey;
                font-size: 25px;
                font-weight: 400;
                text-align: center;
                line-height: 10px;
                border: none;
                border-radius: 10px;
                background-image: linear-gradient(to top, #d4d4d4 0%, whitesmoke 100%);
            }
        }
        .where-input {
            width: 100%;
            height: 55px;
            margin: 10px auto;
            border: none;
            border-radius: 10px;
            line-height: 55px;
            padding-left: 17px;
            text-align: left;
            color: grey;
            box-sizing: border-box;
            font-size: 25px;
            font-weight: 700;
            background-image: linear-gradient(to top, #d7d7d7 0%, #f3f3f3 100%);
            line-height: 55px;
            text-transform: uppercase;
        }
    }
    .submit-button {
        width: 268px;
        height: 56px;
        margin: 0 auto;
        color: white;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        line-height: 56px;
        text-transform: uppercase;
        border: none;
        border-radius: 30px;
        background-image: linear-gradient(to top, #589a10 0%, #8dd61a 100%);
    }
    input {
        display: block;
    }
}
// .finder-tickets 
.finder-tickets  {
    .sity-marker {
        box-sizing: border-box;
        width: 100%;
        .text-field-arrow {
            float: left;
            width: 85%;
        }   
        img {
            float: right;
            margin: 29px 0;
        }
    }
    .ather-date {
        margin: 0 auto 15px !important;
    }
}
// hot-reis 
.hot-reis {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    article {
        width: 100%;
        height: auto;
        margin: 20px auto;
        padding: 20px 12px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 20px;
        background-image: linear-gradient(to top, #d2d2d2 0%, #ebebeb 100%);
        .reis-title {
            padding-bottom: 20px;
            text-align: left;
            color: #00679b;
            font-size: 25px;
            font-weight: 700;
            line-height: 13px;
            text-transform: uppercase;
            background: url('../images/dotted-line.png') no-repeat bottom;
            background-size: contain;
            span {
                text-transform: lowercase;
            }
        }
        .reis-direction {
            margin: 13px 0 18px;
            text-align: left;
            color: #717171;
            font-weight: 400;
            line-height: 22px;
            font-size: 25px;
            .sub-direction {
                display: block;
                font-size: 16px;
            }
        }
        .date-info {
            text-align: left;
            .date-title {
                color: #717171;
                font-size: 18px;
                line-height: 17px;
                font-weight: 400;
            }
            .date-view {
                color: #717171;
                font-size: 18px;
                line-height: 17px;
                font-weight: 400;
                font-weight: 700;
            }
        }
        .more {
            float: right;
            margin: 20px 0 0;
            color: #00679b;
            font-size: 18px;
            font-weight: 700;
            line-height: 17px;
            text-decoration: none;
        }
    }
}
.reis-list {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    article {
        width: 100%;
        height: auto;
        margin: 20px auto;
        padding: 20px 12px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 20px;
        background-image: linear-gradient(to top, #d2d2d2 0%, #ebebeb 100%);
        .reis-title,
        .reis-title-back {
            padding-bottom: 20px;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            color: #00679b;
            background: url('../images/dotted-line.png') no-repeat bottom;
            background-size: contain;
            img {
                float: left;
                margin: 0 6px 0 0;            }
            .ticket-date {
                color: #0078b6;
                font-size: 22px;
                font-weight: 700;
                line-height: 19px;
                vertical-align: top;
                text-transform: uppercase;
            }
            .way-direction {
                display: inline-block;
                float: left;
                color: #717171;
                font-size: 16px;
                font-weight: 400;
                line-height: 13px;
            }
        }
        .reis-title-back {
            padding-bottom: 0;
            background: none;
        }
        .ticket-reis-direction {
            margin: 13px 0 19px;
            text-align: left;
            color: #717171;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            .start-end-direction {
                font-weight: 400;
            }
        }
        .ticket-deteils {
            .ticket-price {
                float: left;
                color: #0078b6;
                font-size: 22px;
                font-weight: 700;
                line-height: 35px;
                text-transform: uppercase;
                span {
                    text-transform: lowercase;
                }
            }
            .more-details {
                float: right;
                margin: 10px 0 0;
                color: #00679b;
                font-size: 18px;
                font-weight: 700;
                line-height: 17px;
                text-decoration: none;
            }
        }
    }
    .articles-navigation {
        margin: 13px auto 20px;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 5px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                color: #939393;
                &:hover {
                    color: #00679b;
                }
            }
            .active-item {
                color: #00679b;
            }
        }
    }
}
// login-form
.login-form {
    .login-block {
        width: 100%;
        height: auto;
        margin-bottom: 31px;
        padding: 15px 10px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        background-color: #009de6;

        .login-title {
            margin: 0 auto;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
        }
        .login-main {
            width: 100%;
            box-sizing: border-box;

            input {
                display: block;
                width: 100%;
                height: 43px;
                margin: 15px auto;
                padding-left: 20px;
                color: #8c8c8c;
                font-size: 18px;
                font-weight: 400;
                line-height: 13px;
                box-sizing: border-box;
                border: none;
                border-radius: 30px;
                background-image: linear-gradient(to top, #ebebeb 0%, white 57%, white 100%);
            }
            .get-password {
                float: left;
                width: 40%;
                margin: 0 0 0 19px;
                text-align: left;
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                line-height: 15px;
            }
            .login-batton {
                float: right;
                width: 116px;
                height: 43px;
                margin: 0 16px 0 0;
                padding-left: 0;
                color: #005286;
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                line-height: 15px;
                text-transform: uppercase;
                background-image: linear-gradient(to top, #d4d4d4 0%, #ededed 100%);
            }
        }   
    }
}

// footer
footer {
    padding: 34px 0 25px;
    background: url(../images/footer-bg.jpg) repeat-x;
    .footer-content {
        max-width: 218px;
        margin: 0 auto 14px;
        text-align: center;
        color: #0096dc;
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
    }
    span {
        display: block;
        text-transform: none;
        font-weight: 400;
    }
    .footer-phone {
        display: block;
        margin: 20px auto;
        text-align: center;
        color: $text-color;
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
    }
    .copyright {
        margin: 18px auto 0;
        text-align: center;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        a {
            color: $text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}