/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Arial regular*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/Arial-Regular.eot");
  src: url("../resorces/Arial/Arial-Regular.eot?#iefix") format("embedded-opentype"), url("../resorces/Arial/Arial-Regular.woff") format("woff"), url("../resorces/Arial/Arial-Regular.ttf") format("truetype"), url("../resorces/Arial/Arial-Regular.svg#Arial-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Arial black*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/arial_black-webfont.woff2") format("woff2"), url("../resorces/Arial/arial_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Arial bold*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/arial_bold_italic-webfont.woff2") format("woff2"), url("../resorces/Arial/arial_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Arial bold italic*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/arial_bold-webfont.woff2") format("woff2"), url("../resorces/Arial/arial_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 45, ../sass/styles.scss */
input {
  cursor: pointer;
}

/* line 48, ../sass/styles.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="radio"]:focus {
  outline: none;
}

/* line 64, ../sass/styles.scss */
body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* line 69, ../sass/styles.scss */
.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  box-sizing: border-box;
}

/* line 78, ../sass/styles.scss */
header {
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 1, 0.75);
}
/* line 81, ../sass/styles.scss */
header .desctop-menu {
  display: none;
}

/* line 85, ../sass/styles.scss */
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style: none;
  padding: 50px 0 37px 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  max-width: 339px;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  top: 0;
  left: -339px;
  overflow: hidden;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 106, ../sass/styles.scss */
.hidden-menu li {
  display: block;
  width: 100%;
  height: 43px;
  margin: 25px 0 25px 24px;
  text-align: left;
  line-height: 43px;
  vertical-align: middle;
}
/* line 115, ../sass/styles.scss */
.hidden-menu li a {
  width: 100%;
  height: 100%;
  color: #006598;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  text-align: left;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 132, ../sass/styles.scss */
.hidden-menu li:first-child {
  margin-top: 0;
}
/* line 137, ../sass/styles.scss */
.hidden-menu .language-select a, .hidden-menu .language-select span {
  color: #006598;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* line 144, ../sass/styles.scss */
.hidden-menu .full-version-batton {
  display: block;
  max-width: 247px;
  height: 54px;
  margin: 0 auto;
  text-align: center;
  line-height: 54px;
  color: #61a411;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  border: 1.49px solid #61a411;
}
/* line 156, ../sass/styles.scss */
.hidden-menu .full-version-batton a {
  color: #61a411;
}

/* line 161, ../sass/styles.scss */
.hidden-menu-ticker {
  display: none;
}

/* line 164, ../sass/styles.scss */
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* line 179, ../sass/styles.scss */
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #818285;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

/* line 187, ../sass/styles.scss */
.btn-menu span.first {
  margin-top: 0;
}

/* line 190, ../sass/styles.scss */
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 85%;
}

@media (min-width: 480px) {
  /* line 194, ../sass/styles.scss */
  .hidden-menu-ticker:checked ~ .btn-menu {
    left: 275px;
  }
}
/* line 198, ../sass/styles.scss */
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}

/*logo*/
/* line 202, ../sass/styles.scss */
.logo {
  max-width: 100%;
  overflow: hidden;
  margin: 10px auto;
  text-align: center;
}

/* line 208, ../sass/styles.scss */
.header-info {
  display: none;
}

/*dropdown filter*/
/* line 213, ../sass/styles.scss */
.call-us-block {
  float: right;
  margin: 5px 10px 0 0;
  line-height: 33px;
  vertical-align: middle;
}
/* line 219, ../sass/styles.scss */
.call-us-block img {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}

/* line 225, ../sass/styles.scss */
#info-mobile form input[type='submit'] {
  display: block;
  width: 51px;
  height: 41px;
  float: right;
  border: none;
  margin: 20px 20px 16px 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, Sans Serif;
  color: #FFFFFF;
  background-color: #f70036;
  border-radius: 2px 3px 3px 2px;
}

/* line 238, ../sass/styles.scss */
.add-client {
  display: inline-block;
  width: 30px;
  height: 26px;
  margin: 4px 10px 0 0;
  background-color: #f70036;
  border-radius: 0;
  overflow: hidden;
  color: #fff;
  line-height: 26px;
  text-align: center;
}

/* line 250, ../sass/styles.scss */
#info-mobile {
  height: auto;
  background: #f1f1f1;
  width: auto;
  clear: none;
  padding: 10px 15px;
  float: right;
  position: absolute;
  top: 72px;
  right: 0;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 263, ../sass/styles.scss */
#info-mobile a {
  display: block;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
}
/* line 268, ../sass/styles.scss */
#info-mobile a .phone {
  color: #00679b;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

/* line 278, ../sass/styles.scss */
label {
  color: #000;
  float: right;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 283, ../sass/styles.scss */
label .fa-phone {
  font-size: 23px;
  color: #171c61;
}

/* line 288, ../sass/styles.scss */
input {
  display: none;
}

/* line 289, ../sass/styles.scss */
input:checked + #info-mobile {
  display: none;
}

/*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/* line 294, ../sass/styles.scss */
.page-navigation {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto 30px;
  padding: 13px 0;
  background-color: #009de6;
  -webkit-box-shadow: inset 35px 194px 19px -191px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: inset 35px 194px 19px -191px rgba(0, 0, 0, 0.44);
  box-shadow: inset 35px 194px 19px -191px rgba(0, 0, 0, 0.44);
}
/* line 304, ../sass/styles.scss */
.page-navigation .nav-block {
  width: 100%;
  margin: 0 auto;
}
/* line 307, ../sass/styles.scss */
.page-navigation .nav-block a {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
/* line 313, ../sass/styles.scss */
.page-navigation .nav-block img {
  float: left;
}
/* line 316, ../sass/styles.scss */
.page-navigation .nav-block h4 {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 327, ../sass/styles.scss */
.main-page,
.finder-tickets {
  margin-top: 20px;
}
/* line 331, ../sass/styles.scss */
.main-page .ticket-form,
.finder-tickets .ticket-form {
  padding: 30px 10px;
  background-color: #005286;
  border-radius: 10px;
}
/* line 336, ../sass/styles.scss */
.main-page .ticket-form .form-rise-title,
.finder-tickets .ticket-form .form-rise-title {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
/* line 345, ../sass/styles.scss */
.main-page .ticket-form .radio-element-left,
.main-page .ticket-form .radio-element-right,
.finder-tickets .ticket-form .radio-element-left,
.finder-tickets .ticket-form .radio-element-right {
  position: relative;
  width: 127px;
  height: 31px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #009ae2;
  border: 3px solid #47c2fc;
}
/* line 355, ../sass/styles.scss */
.main-page .ticket-form .radio-element-left #one-side,
.main-page .ticket-form .radio-element-left #many-side,
.main-page .ticket-form .radio-element-right #one-side,
.main-page .ticket-form .radio-element-right #many-side,
.finder-tickets .ticket-form .radio-element-left #one-side,
.finder-tickets .ticket-form .radio-element-left #many-side,
.finder-tickets .ticket-form .radio-element-right #one-side,
.finder-tickets .ticket-form .radio-element-right #many-side {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 45%;
  left: 0;
  outline: none;
  transform: translateY(-50%);
  background-image: linear-gradient(to top, #e9e9e9 0%, #fefefe 100%);
}
/* line 366, ../sass/styles.scss */
.main-page .ticket-form .radio-element-left label,
.main-page .ticket-form .radio-element-right label,
.finder-tickets .ticket-form .radio-element-left label,
.finder-tickets .ticket-form .radio-element-right label {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
}
/* line 377, ../sass/styles.scss */
.main-page .ticket-form .radio-element-left,
.finder-tickets .ticket-form .radio-element-left {
  float: left;
}
/* line 380, ../sass/styles.scss */
.main-page .ticket-form .radio-element-right,
.finder-tickets .ticket-form .radio-element-right {
  float: right;
}
/* line 383, ../sass/styles.scss */
.main-page .ticket-form .text-field,
.finder-tickets .ticket-form .text-field {
  width: 100%;
  height: 55px;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  line-height: 55px;
  padding-left: 17px;
  text-align: left;
  color: grey;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 700;
  background-image: linear-gradient(to top, #d7d7d7 0%, #f3f3f3 100%);
  line-height: 55px;
  text-transform: uppercase;
}
/* line 400, ../sass/styles.scss */
.main-page .ticket-form .date,
.finder-tickets .ticket-form .date {
  margin-bottom: 20px;
  width: 100%;
  height: 58px;
}
/* line 404, ../sass/styles.scss */
.main-page .ticket-form .date #datepicker1,
.main-page .ticket-form .date #datepicker2,
.finder-tickets .ticket-form .date #datepicker1,
.finder-tickets .ticket-form .date #datepicker2 {
  float: left;
  width: 60%;
  height: 56px;
  padding-left: 15px;
  color: grey;
  font-size: 25px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(to top, #d7d7d7 0%, #f3f3f3 100%);
  border-radius: 10px;
}
/* line 420, ../sass/styles.scss */
.main-page .ticket-form .date img,
.finder-tickets .ticket-form .date img {
  float: right;
}
/* line 424, ../sass/styles.scss */
.main-page .ticket-form .ather-date,
.finder-tickets .ticket-form .ather-date {
  clear: both;
  margin: 15px auto;
  text-align: center;
}
/* line 428, ../sass/styles.scss */
.main-page .ticket-form .ather-date .simbol,
.finder-tickets .ticket-form .ather-date .simbol {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  line-height: 18px;
  font-weight: 700;
}
/* line 435, ../sass/styles.scss */
.main-page .ticket-form .ather-date .simbol-sign,
.finder-tickets .ticket-form .ather-date .simbol-sign {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  line-height: 18px;
  font-weight: 400;
}
/* line 443, ../sass/styles.scss */
.main-page .ticket-form .ather-date input,
.finder-tickets .ticket-form .ather-date input {
  display: inline-block;
  width: 40px;
  height: 38px;
  color: grey;
  color: grey;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  line-height: 10px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to top, #d4d4d4 0%, whitesmoke 100%);
}
/* line 458, ../sass/styles.scss */
.main-page .ticket-form .where-input,
.finder-tickets .ticket-form .where-input {
  width: 100%;
  height: 55px;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  line-height: 55px;
  padding-left: 17px;
  text-align: left;
  color: grey;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 700;
  background-image: linear-gradient(to top, #d7d7d7 0%, #f3f3f3 100%);
  line-height: 55px;
  text-transform: uppercase;
}
/* line 476, ../sass/styles.scss */
.main-page .submit-button,
.finder-tickets .submit-button {
  width: 268px;
  height: 56px;
  margin: 0 auto;
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to top, #589a10 0%, #8dd61a 100%);
}
/* line 490, ../sass/styles.scss */
.main-page input,
.finder-tickets input {
  display: block;
}

/* line 496, ../sass/styles.scss */
.finder-tickets .sity-marker {
  box-sizing: border-box;
  width: 100%;
}
/* line 499, ../sass/styles.scss */
.finder-tickets .sity-marker .text-field-arrow {
  float: left;
  width: 85%;
}
/* line 503, ../sass/styles.scss */
.finder-tickets .sity-marker img {
  float: right;
  margin: 29px 0;
}
/* line 508, ../sass/styles.scss */
.finder-tickets .ather-date {
  margin: 0 auto 15px !important;
}

/* line 513, ../sass/styles.scss */
.hot-reis {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* line 518, ../sass/styles.scss */
.hot-reis article {
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 20px 12px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(to top, #d2d2d2 0%, #ebebeb 100%);
}
/* line 527, ../sass/styles.scss */
.hot-reis article .reis-title {
  padding-bottom: 20px;
  text-align: left;
  color: #00679b;
  font-size: 25px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  background: url("../images/dotted-line.png") no-repeat bottom;
  background-size: contain;
}
/* line 537, ../sass/styles.scss */
.hot-reis article .reis-title span {
  text-transform: lowercase;
}
/* line 541, ../sass/styles.scss */
.hot-reis article .reis-direction {
  margin: 13px 0 18px;
  text-align: left;
  color: #717171;
  font-weight: 400;
  line-height: 22px;
  font-size: 25px;
}
/* line 548, ../sass/styles.scss */
.hot-reis article .reis-direction .sub-direction {
  display: block;
  font-size: 16px;
}
/* line 553, ../sass/styles.scss */
.hot-reis article .date-info {
  text-align: left;
}
/* line 555, ../sass/styles.scss */
.hot-reis article .date-info .date-title {
  color: #717171;
  font-size: 18px;
  line-height: 17px;
  font-weight: 400;
}
/* line 561, ../sass/styles.scss */
.hot-reis article .date-info .date-view {
  color: #717171;
  font-size: 18px;
  line-height: 17px;
  font-weight: 400;
  font-weight: 700;
}
/* line 569, ../sass/styles.scss */
.hot-reis article .more {
  float: right;
  margin: 20px 0 0;
  color: #00679b;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: none;
}

/* line 580, ../sass/styles.scss */
.reis-list {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* line 585, ../sass/styles.scss */
.reis-list article {
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 20px 12px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(to top, #d2d2d2 0%, #ebebeb 100%);
}
/* line 594, ../sass/styles.scss */
.reis-list article .reis-title,
.reis-list article .reis-title-back {
  padding-bottom: 20px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  color: #00679b;
  background: url("../images/dotted-line.png") no-repeat bottom;
  background-size: contain;
}
/* line 603, ../sass/styles.scss */
.reis-list article .reis-title img,
.reis-list article .reis-title-back img {
  float: left;
  margin: 0 6px 0 0;
}
/* line 606, ../sass/styles.scss */
.reis-list article .reis-title .ticket-date,
.reis-list article .reis-title-back .ticket-date {
  color: #0078b6;
  font-size: 22px;
  font-weight: 700;
  line-height: 19px;
  vertical-align: top;
  text-transform: uppercase;
}
/* line 614, ../sass/styles.scss */
.reis-list article .reis-title .way-direction,
.reis-list article .reis-title-back .way-direction {
  display: inline-block;
  float: left;
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
}
/* line 623, ../sass/styles.scss */
.reis-list article .reis-title-back {
  padding-bottom: 0;
  background: none;
}
/* line 627, ../sass/styles.scss */
.reis-list article .ticket-reis-direction {
  margin: 13px 0 19px;
  text-align: left;
  color: #717171;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
/* line 634, ../sass/styles.scss */
.reis-list article .ticket-reis-direction .start-end-direction {
  font-weight: 400;
}
/* line 639, ../sass/styles.scss */
.reis-list article .ticket-deteils .ticket-price {
  float: left;
  color: #0078b6;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}
/* line 646, ../sass/styles.scss */
.reis-list article .ticket-deteils .ticket-price span {
  text-transform: lowercase;
}
/* line 650, ../sass/styles.scss */
.reis-list article .ticket-deteils .more-details {
  float: right;
  margin: 10px 0 0;
  color: #00679b;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: none;
}
/* line 661, ../sass/styles.scss */
.reis-list .articles-navigation {
  margin: 13px auto 20px;
  text-align: center;
}
/* line 664, ../sass/styles.scss */
.reis-list .articles-navigation li {
  display: inline-block;
  margin: 0 5px;
}
/* line 667, ../sass/styles.scss */
.reis-list .articles-navigation li:first-child {
  margin-left: 0;
}
/* line 670, ../sass/styles.scss */
.reis-list .articles-navigation li:last-child {
  margin-right: 0;
}
/* line 673, ../sass/styles.scss */
.reis-list .articles-navigation li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #939393;
}
/* line 679, ../sass/styles.scss */
.reis-list .articles-navigation li a:hover {
  color: #00679b;
}
/* line 683, ../sass/styles.scss */
.reis-list .articles-navigation li .active-item {
  color: #00679b;
}

/* line 691, ../sass/styles.scss */
.login-form .login-block {
  width: 100%;
  height: auto;
  margin-bottom: 31px;
  padding: 15px 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  background-color: #009de6;
}
/* line 701, ../sass/styles.scss */
.login-form .login-block .login-title {
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
/* line 709, ../sass/styles.scss */
.login-form .login-block .login-main {
  width: 100%;
  box-sizing: border-box;
}
/* line 713, ../sass/styles.scss */
.login-form .login-block .login-main input {
  display: block;
  width: 100%;
  height: 43px;
  margin: 15px auto;
  padding-left: 20px;
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 400;
  line-height: 13px;
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to top, #ebebeb 0%, white 57%, white 100%);
}
/* line 728, ../sass/styles.scss */
.login-form .login-block .login-main .get-password {
  float: left;
  width: 40%;
  margin: 0 0 0 19px;
  text-align: left;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
}
/* line 739, ../sass/styles.scss */
.login-form .login-block .login-main .login-batton {
  float: right;
  width: 116px;
  height: 43px;
  margin: 0 16px 0 0;
  padding-left: 0;
  color: #005286;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #d4d4d4 0%, #ededed 100%);
}

/* line 757, ../sass/styles.scss */
.buss-rent,
.buss-rent-all {
  margin: 20px auto;
}
/* line 760, ../sass/styles.scss */
.buss-rent .rent-content,
.buss-rent-all .rent-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px 10px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  background-image: linear-gradient(to top, #d9d9d9 0%, #efefef 100%);
  border: 1px solid #d9d9d9;
  border-radius: 26px;
}
/* line 772, ../sass/styles.scss */
.buss-rent .rent-content .buss-info,
.buss-rent-all .rent-content .buss-info {
  margin-top: 20px;
  color: #006598;
  font-size: 25px;
  font-weight: 400;
}
/* line 777, ../sass/styles.scss */
.buss-rent .rent-content .buss-info .pre-title,
.buss-rent-all .rent-content .buss-info .pre-title {
  line-height: 30px;
}
/* line 780, ../sass/styles.scss */
.buss-rent .rent-content .buss-info .buss-model,
.buss-rent-all .rent-content .buss-info .buss-model {
  display: block;
  line-height: 40px;
}
/* line 784, ../sass/styles.scss */
.buss-rent .rent-content .buss-info .buss-region,
.buss-rent-all .rent-content .buss-info .buss-region {
  line-height: 40px;
}
/* line 786, ../sass/styles.scss */
.buss-rent .rent-content .buss-info .buss-region span,
.buss-rent-all .rent-content .buss-info .buss-region span {
  text-transform: uppercase;
}
/* line 791, ../sass/styles.scss */
.buss-rent .rent-content .detail-more,
.buss-rent-all .rent-content .detail-more {
  display: block;
  float: right;
  width: 187px;
  height: 40px;
  margin: 60px 10px 0 0;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 30px;
  background-image: linear-gradient(to top, #589a10 0%, #8dd61a 100%);
}
/* line 805, ../sass/styles.scss */
.buss-rent .rent-content .detail-more img,
.buss-rent-all .rent-content .detail-more img {
  float: right;
  margin: 15px 15px 0 0;
}
/* line 812, ../sass/styles.scss */
.buss-rent .rent-content .bus-specifications li,
.buss-rent .rent-content .tarif-list li,
.buss-rent-all .rent-content .bus-specifications li,
.buss-rent-all .rent-content .tarif-list li {
  display: block;
}
/* line 815, ../sass/styles.scss */
.buss-rent .rent-content .bus-specifications li h4,
.buss-rent .rent-content .tarif-list li h4,
.buss-rent-all .rent-content .bus-specifications li h4,
.buss-rent-all .rent-content .tarif-list li h4 {
  display: inline-block;
  font-size: 18px;
  color: #757575;
  line-height: 35px;
  font-weight: 400;
}
/* line 822, ../sass/styles.scss */
.buss-rent .rent-content .bus-specifications li span,
.buss-rent .rent-content .tarif-list li span,
.buss-rent-all .rent-content .bus-specifications li span,
.buss-rent-all .rent-content .tarif-list li span {
  font-size: 18px;
  color: #757575;
  line-height: 35px;
  font-weight: 600;
}
/* line 830, ../sass/styles.scss */
.buss-rent .rent-content .tarif-title,
.buss-rent-all .rent-content .tarif-title {
  color: #006598;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}
/* line 836, ../sass/styles.scss */
.buss-rent .rent-content .contacts-for-buss,
.buss-rent-all .rent-content .contacts-for-buss {
  margin: 20px auto;
  padding: 24px 0;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}
/* line 841, ../sass/styles.scss */
.buss-rent .rent-content .contacts-for-buss .title-contact,
.buss-rent-all .rent-content .contacts-for-buss .title-contact {
  color: #006598;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
}
/* line 848, ../sass/styles.scss */
.buss-rent .rent-content .contacts-for-buss .description-contact li,
.buss-rent-all .rent-content .contacts-for-buss .description-contact li {
  display: block;
  margin: 10px 0;
  color: #006598;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
/* line 859, ../sass/styles.scss */
.buss-rent .rent-content .assessment .assessment-title,
.buss-rent-all .rent-content .assessment .assessment-title {
  color: #006598;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
/* line 868, ../sass/styles.scss */
.buss-rent .assessment-condition,
.buss-rent-all .assessment-condition {
  margin-bottom: 15px;
  color: #006598;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
}
/* line 875, ../sass/styles.scss */
.buss-rent .assessment-sign,
.buss-rent-all .assessment-sign {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
/* line 882, ../sass/styles.scss */
.buss-rent #choice-form,
.buss-rent-all #choice-form {
  text-align: center;
}
/* line 884, ../sass/styles.scss */
.buss-rent #choice-form .choice-button,
.buss-rent-all #choice-form .choice-button {
  display: block;
  width: 268px;
  height: 56px;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to top, #006396 0%, #009be3 100%);
}
/* line 900, ../sass/styles.scss */
.buss-rent #choice-form .star-rating,
.buss-rent-all #choice-form .star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 131px;
  height: 25px;
  overflow: hidden;
  position: relative;
  background: url("../images/star_gray.png");
  background-size: contain;
}
/* line 916, ../sass/styles.scss */
.buss-rent #choice-form .star-rating i,
.buss-rent-all #choice-form .star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 25px;
  z-index: 1;
  background: url("../images/star_gold.png");
  background-size: contain;
}
/* line 932, ../sass/styles.scss */
.buss-rent #choice-form .star-rating input,
.buss-rent-all #choice-form .star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 26px;
  height: 25px;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
/* line 945, ../sass/styles.scss */
.buss-rent #choice-form .star-rating input:hover + i, .buss-rent #choice-form .star-rating input:checked + i,
.buss-rent-all #choice-form .star-rating input:hover + i,
.buss-rent-all #choice-form .star-rating input:checked + i {
  opacity: 1;
}
/* line 950, ../sass/styles.scss */
.buss-rent #choice-form .star-rating i ~ i,
.buss-rent-all #choice-form .star-rating i ~ i {
  width: 40%;
}
/* line 953, ../sass/styles.scss */
.buss-rent #choice-form .star-rating i ~ i ~ i,
.buss-rent-all #choice-form .star-rating i ~ i ~ i {
  width: 60%;
}
/* line 956, ../sass/styles.scss */
.buss-rent #choice-form .star-rating i ~ i ~ i ~ i,
.buss-rent-all #choice-form .star-rating i ~ i ~ i ~ i {
  width: 80%;
}
/* line 959, ../sass/styles.scss */
.buss-rent #choice-form .star-rating i ~ i ~ i ~ i ~ i,
.buss-rent-all #choice-form .star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
/* line 967, ../sass/styles.scss */
.buss-rent #choice-form .choice,
.buss-rent-all #choice-form .choice {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 20px;
  text-align: center;
  color: #006598;
  font-size: 131px;
  font-weight: 400;
  line-height: 130px;
  text-transform: uppercase;
}
/* line 983, ../sass/styles.scss */
.buss-rent #choice-form *, .buss-rent #choice-form ::after, .buss-rent #choice-form ::before,
.buss-rent-all #choice-form *,
.buss-rent-all #choice-form ::after,
.buss-rent-all #choice-form ::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

/* line 994, ../sass/styles.scss */
.buss-rent-all .rent-content {
  margin: 20px auto;
}
/* line 996, ../sass/styles.scss */
.buss-rent-all .rent-content .img-wrapper {
  margin-top: 0 auto;
  text-align: center;
}
/* line 1000, ../sass/styles.scss */
.buss-rent-all .rent-content .tarif-list {
  margin-top: 15px;
}

/* line 1006, ../sass/styles.scss */
.buss-articles {
  background: #fff;
}
/* line 1008, ../sass/styles.scss */
.buss-articles .buss-news {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 37px 0 34px;
  border-top: 1px solid #c6c6c6;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 1017, ../sass/styles.scss */
.buss-articles .buss-news .img-wrapper {
  margin: 0 auto;
  text-align: center;
}
/* line 1021, ../sass/styles.scss */
.buss-articles .buss-news .news-title {
  margin: 17px 0 20px;
  color: #033d62;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
/* line 1029, ../sass/styles.scss */
.buss-articles .buss-news .news-date {
  color: #00426e;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
/* line 1035, ../sass/styles.scss */
.buss-articles .buss-news .news-description {
  margin: 16px auto 37px;
  color: #343434;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
/* line 1041, ../sass/styles.scss */
.buss-articles .buss-news .news-description span {
  font-weight: 700;
}
/* line 1045, ../sass/styles.scss */
.buss-articles .buss-news .news-more {
  display: block;
  float: right;
  width: 187px;
  height: 40px;
  margin: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 30px;
  background-image: linear-gradient(to top, #589a10 0%, #8dd61a 100%);
}
/* line 1061, ../sass/styles.scss */
.buss-articles .articles-navigation {
  margin: 13px auto 20px;
  text-align: center;
}
/* line 1064, ../sass/styles.scss */
.buss-articles .articles-navigation li {
  display: inline-block;
  margin: 0 5px;
}
/* line 1067, ../sass/styles.scss */
.buss-articles .articles-navigation li:first-child {
  margin-left: 0;
}
/* line 1070, ../sass/styles.scss */
.buss-articles .articles-navigation li:last-child {
  margin-right: 0;
}
/* line 1073, ../sass/styles.scss */
.buss-articles .articles-navigation li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #939393;
}
/* line 1079, ../sass/styles.scss */
.buss-articles .articles-navigation li a:hover {
  color: #00679b;
}
/* line 1083, ../sass/styles.scss */
.buss-articles .articles-navigation li .active-item {
  color: #00679b;
}
/* line 1088, ../sass/styles.scss */
.buss-articles .news-page-sign {
  margin: 0 auto 40px;
  text-align: center;
}
/* line 1091, ../sass/styles.scss */
.buss-articles .news-page-sign a {
  text-decoration: none;
  color: #363535;
  font-size: 20px;
  font-style: italic;
  line-height: 25px;
}

/* line 1103, ../sass/styles.scss */
.contact-page input {
  display: block;
}
/* line 1107, ../sass/styles.scss */
.contact-page .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
/* line 1112, ../sass/styles.scss */
.contact-page .map-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 100%;
  position: absolute;
}
/* line 1119, ../sass/styles.scss */
.contact-page .map-responsive .map-link {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 1127, ../sass/styles.scss */
footer {
  padding: 34px 0 25px;
  background: url(../images/footer-bg.jpg) repeat-x;
}
/* line 1130, ../sass/styles.scss */
footer .footer-content {
  max-width: 218px;
  margin: 0 auto 14px;
  text-align: center;
  color: #0096dc;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}
/* line 1141, ../sass/styles.scss */
footer span {
  display: block;
  text-transform: none;
  font-weight: 400;
}
/* line 1146, ../sass/styles.scss */
footer .footer-phone {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #636363;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
}
/* line 1155, ../sass/styles.scss */
footer .copyright {
  margin: 18px auto 0;
  text-align: center;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
/* line 1163, ../sass/styles.scss */
footer .copyright a {
  color: #636363;
  text-decoration: none;
}
/* line 1167, ../sass/styles.scss */
footer .copyright a:hover {
  text-decoration: underline;
}
