/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Arial regular*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/Arial-Regular.eot");
  src: url("../resorces/Arial/Arial-Regular.eot?#iefix") format("embedded-opentype"), url("../resorces/Arial/Arial-Regular.woff") format("woff"), url("../resorces/Arial/Arial-Regular.ttf") format("truetype"), url("../resorces/Arial/Arial-Regular.svg#Arial-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Arial black*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/arial_black-webfont.woff2") format("woff2"), url("../resorces/Arial/arial_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Arial bold*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/arial_bold_italic-webfont.woff2") format("woff2"), url("../resorces/Arial/arial_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Arial bold italic*/
@font-face {
  font-family: 'Arial';
  src: url("../resorces/Arial/arial_bold-webfont.woff2") format("woff2"), url("../resorces/Arial/arial_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 56, ../sass/styles.scss */
body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* line 63, ../sass/styles.scss */
header .desctop-menu {
  display: none;
}

/* line 67, ../sass/styles.scss */
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style: none;
  padding: 50px 0 37px 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  max-width: 339px;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  top: 0;
  left: -339px;
  overflow: hidden;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 88, ../sass/styles.scss */
.hidden-menu li {
  display: block;
  width: 100%;
  height: 43px;
  margin: 25px 0 25px 24px;
  text-align: left;
  line-height: 43px;
  vertical-align: middle;
}
/* line 97, ../sass/styles.scss */
.hidden-menu li a {
  width: 100%;
  height: 100%;
  color: #006598;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  text-align: left;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 114, ../sass/styles.scss */
.hidden-menu li:first-child {
  margin-top: 0;
}
/* line 119, ../sass/styles.scss */
.hidden-menu .language-select a, .hidden-menu .language-select span {
  color: #006598;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* line 126, ../sass/styles.scss */
.hidden-menu .full-version-batton {
  display: block;
  max-width: 247px;
  height: 54px;
  margin: 0 auto;
  text-align: center;
  line-height: 54px;
  color: #61a411;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  border: 1.49px solid #61a411;
}
/* line 138, ../sass/styles.scss */
.hidden-menu .full-version-batton a {
  color: #61a411;
}

/* line 143, ../sass/styles.scss */
.hidden-menu-ticker {
  display: none;
}

/* line 146, ../sass/styles.scss */
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* line 161, ../sass/styles.scss */
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #818285;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

/* line 169, ../sass/styles.scss */
.btn-menu span.first {
  margin-top: 0;
}

/* line 172, ../sass/styles.scss */
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 85%;
}

/* line 175, ../sass/styles.scss */
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}

/*logo*/
/* line 179, ../sass/styles.scss */
.logo {
  max-width: 100%;
  overflow: hidden;
  margin: 10px auto;
  text-align: center;
}

/* line 185, ../sass/styles.scss */
.header-info {
  display: none;
}

/*dropdown filter*/
/* line 190, ../sass/styles.scss */
.call-us-block {
  float: right;
  margin: 5px 10px 0 0;
  line-height: 33px;
  vertical-align: middle;
}
/* line 196, ../sass/styles.scss */
.call-us-block img {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}

/* line 202, ../sass/styles.scss */
#info-mobile form input[type='submit'] {
  display: block;
  width: 51px;
  height: 41px;
  float: right;
  border: none;
  margin: 20px 20px 16px 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, Sans Serif;
  color: #FFFFFF;
  background-color: #f70036;
  border-radius: 2px 3px 3px 2px;
}

/* line 215, ../sass/styles.scss */
.add-client {
  display: inline-block;
  width: 30px;
  height: 26px;
  margin: 4px 10px 0 0;
  background-color: #f70036;
  border-radius: 0;
  overflow: hidden;
  color: #fff;
  line-height: 26px;
  text-align: center;
}

/* line 227, ../sass/styles.scss */
#info-mobile {
  height: 185px;
  background: #fff;
  width: auto;
  clear: none;
  float: right;
  position: absolute;
  top: 72px;
  right: 0;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 239, ../sass/styles.scss */
#info-mobile a {
  display: block;
  margin: 15px auto;
  text-align: center;
}
/* line 243, ../sass/styles.scss */
#info-mobile a .phone {
  color: #171c61;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
}

/* line 252, ../sass/styles.scss */
label {
  color: #000;
  float: right;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 257, ../sass/styles.scss */
label .fa-phone {
  font-size: 23px;
  color: #171c61;
}

/* line 262, ../sass/styles.scss */
input {
  display: none;
}

/* line 263, ../sass/styles.scss */
input:checked + #info-mobile {
  display: none;
}

/*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/* line 270, ../sass/styles.scss */
.main-page input {
  display: block;
}

/* line 277, ../sass/styles.scss */
footer {
  padding: 34px 0 25px;
  background: url(../images/footer-bg.jpg) repeat-x;
}
/* line 280, ../sass/styles.scss */
footer .footer-content {
  max-width: 218px;
  margin: 0 auto 14px;
  text-align: center;
  color: #0096dc;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}
/* line 291, ../sass/styles.scss */
footer span {
  display: block;
  text-transform: none;
  font-weight: 400;
}
/* line 296, ../sass/styles.scss */
footer .footer-phone {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #636363;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
}
/* line 305, ../sass/styles.scss */
footer .copyright {
  margin: 18px auto 0;
  text-align: center;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
/* line 313, ../sass/styles.scss */
footer .copyright a {
  color: #636363;
  text-decoration: none;
}
/* line 317, ../sass/styles.scss */
footer .copyright a:hover {
  text-decoration: underline;
}
